.txt{
    color: brown;
}

.txtb{
    color: blue;
}

.txtg{
    color: green;
}

.txts{
    font-size: 85px;
}

.img{
    display: flex;
    padding: 20px;
}

.App{
    align-items: center;
    justify-content: center;
    margin-left: 20%;
    margin-top: 50px;
}